{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    {% include 'sidenav.html.twig' %}
    <main>
    {% include 'pages/welcome.html.twig' %}
    </main>
{% endblock %}